@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');


#container-busqueda form{
	display: none;
}

a{
	text-decoration: none;
}

#logo{
	display: block;
}
#img-logo {
	display: block;
	margin:  -5% auto;
    width: 40%;
    height: 40%;
}


form p{
	display: block;
}
form div{
	margin-top: 1%;
	margin-bottom: 1%;
}
form p label, div label{
	font-weight: bold;
	display: inline-block;
	width: 20%;
}

form p input, #texto-adicional, p input{
	display: inline-block;
	border-color: #000;
	border-width: 1%;
	
}

#label-txt-adicional{
	float: left;
}
main{
	display: block;
	padding: 0;
}

main h3{
	text-transform: uppercase;
	margin: 1%;
	text-align: center;
	font-size: 300%;
}

main article {
    border-style: solid;
    border-color: #000;
	display: inline-block;
	margin: 1.1%;
	height: 20%;
	width: 20%;
	padding: 1%;
}

figure{
	display: inline-block;
	margin: 5%;
	height: 20%;
	width: 20%;
	padding: 1%;
}

article a {
	display: block;
	margin: 0 auto;
	width: 100%
	height: 100%;
}

article a img{

	display: block;
	margin: 0 auto;
	width: 200px;
	height: 200px;
}

table {
	margin: auto;
    border-collapse: collapse;

}
table, th, td{
	border-color: #000;
	border-style: solid;
}

th,td{
	padding: 2%;
	width: 60%;
	height: 60%;
}